<p id="notice"><%= notice %></p>


<div>
        <h2>
                <%= @item.name %>
      </h1>
	<b>
</div>
<div>
	<p>Brand: <%= @item.brand %></p>

	<p>In Stock: <%= @item.stock %></p>
	<p>Price: <%= @item.price %></p>
	
</div>

