<div>
        <h1>
                <%= @item.name %>
      </h1>
	<b>
</div>
<div>
	<p>brand: <%= @item.brand %></p>

	<p>stock: <%= @item.stock %></p>
	<p>price: <%= @item.price %></p>
	
</div>
<%= link_to 'Back', welcome_costumer_path %>
